/* ----------------------------------- Hero Video Section ----------------------------------- */
video {
    width: 100%;
    margin-top: 0px;
}

/* ----------------------------------- Waiting Statistic Sections ----------------------------------- */
.stat-container {
    position: relative;
    margin: 20px 0px 20px 0px;
}

.stat-text {
    font-family: $main-font;
    color: $black;
    font-size: 26px;
    line-height: 32px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

@media screen and (min-width: 640px) {
    .stat-text {
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (min-width: 640px) {.stat-text {font-size: 55px; line-height: 65px;}}



/* ----------------------------------- About Section ----------------------------------- */
#about-section-bckgnd {
    position: relative;
}

.about-text {
    margin: 35px 0px 500px 0px;
    position: absolute;
    top: -15px;
    left: 30px;
    width: 80%;
    font-size: 22px;
    line-height: 27px;
}

/* Media Queries for the size/placement of the about text over the bckgnd img */
@media screen and (min-width: 500px) {.about-text {width: 80%; margin-left: 5%; font-size: 25px; line-height: 30px;}}
@media screen and (min-width: 550px) {.about-text {width: 80%; margin-left: 5%; font-size: 33px; line-height: 40px;}}
@media screen and (min-width: 640px) {.about-text {width: 40%; margin-left: 0; font-size: 18px; line-height: 21px;}}
@media screen and (min-width: 775px) {.about-text {width: 40%; margin-left: 0; font-size: 22px; line-height: 27px;}}
@media screen and (min-width: 850px) {.about-text {width: 44%; margin-left: 0; font-size: 26px; line-height: 31px;}}
@media screen and (min-width: 1000px) {.about-text {width: 44%; margin-left: 0; font-size: 30px; line-height: 36px;}}
@media screen and (min-width: 1100px) {.about-text {width: 44%; margin-left: 0; font-size: 33px; line-height: 39px;}}
@media screen and (min-width: 1200px) {.about-text {width: 44%; margin-left: 10px; font-size: 35px; line-height: 43px;}}
@media screen and (min-width: 1300px) {.about-text {width: 44%; margin-left: 10px; font-size: 40px; line-height: 48px;}}

/* ----------------------------------- Testimonial Section ----------------------------------- */
#testimonial-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#testimonial-img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition-duration: 1.0s;
}

#testimonial-img:not(:hover) {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition-duration: 1.0s;
}

@media screen and (min-width: 470px) {
    #testimonial-section img {
        width: 33.333%;
    }
}

.testimonial-info {
    color: $white;
    padding-top: 10px;
}

#testimonal-header-img {
    margin-left: 10%;
    width: 80%;
}

/* ----------------------------------- 'How can I help?' Section ----------------------------------- */
#help-section {
    background-image: url("../images/bckgnd-help.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    width: 100%;
    margin: 0px;
    background-attachment: fixed;
    background-position: center;

}

.help-section-content {
    margin: 70px 0px 70px 20px;
}

@media screen and (min-width: 650px) {
    .help-section-content {
        margin: 120px 0px 120px 100px;
    }
}

.numbers {
    font-family: $main-font;
    color: $red;
    font-size: 60px;
    line-height: 65px;
}

.help-text {
    color: $white;
    font-family: $main-font;
    font-size: 27px;
    font-style: normal;
}

/* 'You just saved 8 lives.' */
.help-text-saved {
    color: $white;
    font-family: $main-font;
    font-size: 27px;
    font-style: normal;
    margin-left: 63px;
    margin-top: 40px
}

/* ----------------------------------- Learn More Section ----------------------------------- */
#learn-more-section {
    background-image: url("../images/bckgnd-learn-more.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}

#learn-more-bckgnd-colour {
    background-color: rgba(255,255,255,0.9); /* white with opacity */;
    width: 90%;
    margin-left: 5%;
}

#learn-more-section-header {
    color: $red;
    width: 80%;
}

#organ-icons-container {
    margin-top: 20px;
}

.organ-icons {
    width: 70px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1100px) {
    .organ-icons {
        width: 100px;
        height: 100px;
    }
}

#organInformation {
    margin: 20px 0px 30px 0px;
    width: 80%;
    margin-left: 10%;
}

.organ-name {
    font-size: 35px;
    line-height: 36px;
    color: $red;
}

.organ-info {
    font-size: 22px;
    line-height: 26px;
    margin-top: 15px;
    color: $red;
}

.organ-fact {
    font-size: 22px;
    line-height: 26px;
    margin-top: 15px;
    font-style: italic;
    color: $red;
    padding-bottom: 30px;
}

#opacity {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }