body {
    background-color: $red;
    color: $white;
    font-family: $main-font;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: $main-font;
}

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

p {
    color: $white;
    font-family: $main-font;
    font-size: 25px;
    line-height: 32px;
}

h2 {
    font-size: 70px;
}

.bold {
    font-weight: 550;
}