body {
    background-color: $red;
    color: $white;
    font-family: $main-font;
}

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

p {
    color: $white;
    font-family: $main-font;
    font-size: 23px;
    line-height: 30px;
}